<div class="header-section">
  <div class="first-section">
    <div>
      <span class="text-white mail-text"
        >©2023 Bus Enterprise. All rights reserved.</span
      >
    </div>
  </div>

  <div class="first-section">
    <div>
      <a class="text-white cursor-pointer mail-text">Terms of Use</a>
    </div>

    <div>
      <a class="text-white cursor-pointer mail-text">Privacy Policy</a>
    </div>

    <div>
      <a class="text-white cursor-pointer mail-text">Follow Us</a>
    </div>
  </div>
</div>
